<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        * New - Spring Bean Configuration File 로
        내 입맛에 맞는 bean 등록용 xml 파일을 만들 수 있다.
        => 항상 내가 만든 xml 파일은 서버 구동 시 함께 읽혀질 수 있도록 web.xml 에 작성해야 함 (해당 파일을 읽을 수 있게)
     -->
    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="bcryptPasswordEncoder"/>

    <!--
        내부적으로 해당 이 객체가 필요할 때 마다 아래의 코드가 실행됨
        BCryptPasswordEncoder bcryptPasswordEncoder = new BCryptPasswordEncoder();
     -->

</beans>
