<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.earthball.bo.challenge.mapper.BoConfirmMapper">

    <select id="ConfirmListCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
          FROM TB_CH_CONFIRM
         WHERE STATUS = 'Y'
    </select>

    <select id="selectConfirmList" resultType="com.kh.earthball.bo.challenge.vo.BoConfirm">
        SELECT *
        FROM (SELECT CH_CON_NO
                   , CH_NO
                   , CH_CON_TITLE
                   , MEMBER_ID
                   , TO_CHAR(CH_CON_CREATE_DATE, 'YYYY-MM-DD') AS CH_CON_CREATE_DATE
                   , ROW_NUMBER() OVER (ORDER BY CH_NO DESC) AS ROW_NUM
              FROM TB_CH_CONFIRM
              WHERE STATUS = 'Y')
        WHERE ROW_NUM BETWEEN #{offset} AND #{limit}
    </select>

    <select id="selectConfirm" parameterType="java.lang.Integer" resultType="com.kh.earthball.bo.challenge.vo.BoConfirm">
        SELECT CH_NO
             , CH_CON_NO
             , CH_CON_TITLE
             , MEMBER_ID
             , TO_CHAR(CH_CON_CREATE_DATE, 'YYYY-MM-DD') AS CH_CON_CREATE_DATE
        FROM TB_CH_CONFIRM
        WHERE CH_CON_NO =  #{chConNo}
          AND STATUS = 'Y'
    </select>
</mapper>
