<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earthball.admin.challenge.mapper.CategoryTemplateMapper">

    <select id="selectTemplateList" parameterType="Integer" resultType="com.kh.earthball.bo.challenge.vo.CategoryTemplate">
        SELECT CATEGORY_TEMPLATE_NO
             , INPUT_TYPE
             , SORT_NO
             , CH_SUB_TITLE
             , GRP_CODE
             , CATEGORY_NO
          FROM TB_CATEGORY_TEMPLATE
         WHERE STATUS = 'Y'
           AND CATEGORY_NO = #{categoryNo}
         ORDER BY SORT_NO ASC

    </select>

    <insert id="insertTemplate" parameterType="com.kh.earthball.bo.challenge.vo.CategoryTemplate">
        INSERT INTO TB_CATEGORY_TEMPLATE ( CATEGORY_TEMPLATE_NO
                                         , INPUT_TYPE
                                         , SORT_NO
                                         , CH_SUB_TITLE
                                         , GRP_CODE
                                         , CATEGORY_NO)
                                  VALUES ( SEQ_TB_CATEGORY_TEMPLATE.NEXTVAL
                                         , #{inputType}
                                         , #{sortNo}
                                         , #{chSubTitle}
                                         , #{grpCode}
                                         , #{categoryNo})
    </insert>
</mapper>