<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.earthball.fo.store.mapper.StoreMapper">

  <!-- 매장 수 가져오기 -->
  <select id="selectStoreListCount"  resultType="int">
    SELECT COUNT(*)
    FROM STORE
    WHERE STATUS = 'Y'
  </select>

  <!-- 매장 리트 구해주는 쿼리문  -->
  <select id="selectStoreList" resultType="com.kh.earthball.fo.store.vo.Store">
    SELECT STORE_NO
        , STORE_NAME
        , STORE_ADDRESS
        , STORE_PHONE
        , BUSINESS_HOURS
        , STORE_RC
        , STORE_REGION_NO
        , STORE_INFO
        , STATUS
    FROM STORE
    WHERE STATUS = 'Y'
    ORDER BY STORE_NO DESC 
 	</select>

</mapper>