<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earthball.admin.code.mapper.CodeMapper">

	<insert id="insertCode" parameterType="com.earthball.admin.code.vo.Code">
		INSERT INTO TB_CODE (CODE
						   , CODE_NAME
						   , SORT_NO
						   , GRP_CODE)
					 VALUES (#{code}
					 	   , #{codeName}
					 	   , #{sortNo}
					 	   , #{grpCode})
	</insert>


	<select id="selectCodeList" parameterType="String" resultType="com.earthball.admin.code.vo.Code">
		SELECT CODE
			 , CODE_NAME
			 , SORT_NO
             , GRP_CODE
		  FROM TB_CODE
		 WHERE STATUS = 'Y'
		   AND GRP_CODE = #{grpCode}
	</select>

	<select id="selectCode"  resultType="com.earthball.admin.code.vo.Code">
		SELECT CODE
			 , CODE_NAME
			 , SORT_NO
			 , GRP_CODE
		FROM TB_CODE
		WHERE STATUS = 'Y'
		  AND GRP_CODE = #{grpCode}
		  AND CODE = #{code}
	</select>

	<update id="updateCode" parameterType="com.earthball.admin.code.vo.Code">
		UPDATE TB_CODE
		   SET CODE_NAME = #{codeName}
		     , SORT_NO = #{sortNo}
		 WHERE CODE = #{code}
		   AND GRP_CODE = #{grpCode}
	</update>

	<update id="deleteCode">
		UPDATE TB_CODE
		SET  STATUS = 'N'
		WHERE CODE = #{code}
		  AND GRP_CODE = #{grpCode}
	</update>

</mapper>
