#navbar-main{
  background-color: #19a7ce;
}

.nav-item {
  position : relative;
  display : inline-block;
}

.dropdown {
  position : absolute;
  z-index : -99; /*다른 요소들보다 앞에 배치*/
  background-color : white;
  width : 250px;
  border-radius : 8px;
  box-shadow : 0 0 10px rgba(0,0,0,0.2);
  opacity: 0;
  transition: 0.3s;
}

.dropdown a{
  display : block;
  text-decoration : none;
  color : black;
  padding: 10px;
  transition: 0.3s;
}

.dropdown a:hover{
  background-color : #19A7CE;
  color : white;
  border-radius: 8px;
}

.nav-item:hover .dropdown{
  display : block;
  z-index: 1;
  opacity: 1;
}

.dropdown>a {
  display: block;
  margin: 10px;
  cursor: pointer;
  color: #19A7CE;
}