<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.earthball.fo.payment.mapper.PaymentMapper">

<insert id="payComplete" parameterType="com.kh.earthball.fo.payment.vo.PayInfo">
	INSERT INTO PAYMENT (PAYMENT_NO
									  , MEMBER_ID
									  , PAYMENT_DATE
									  , PAYMENT_TYPE
									  , STATUS
									  , PAYMENT_TOTAL
									  , RECEIVE_NAME
									  , RECEIVE_PHONE
									  , POST_CODE
									  , ADDRESS1
									  , ADDRESS2
									  , DELIVERY_COMENT
									  , PAYMENT_TOKEN)
								VALUES (#{paymentNo}
									  , #{memberId}
									  , SYSDATE
									  , #{paymentType}
									  , 'Y'
									  , #{paymentTotal}
									  , #{receiveName}
									  , #{receivePhone}
									  , #{postCode}
									  , #{receiveAddress1}
									  , #{receiveAddress2}
									  , #{deliveryComent}
									  , #{paymentToken})
</insert>


</mapper>