html, body{
    margin: 0;
    padding: 0;
}

/* 폰트 */
*{font-family: 'Jua', sans-serif;}

 /* header */
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    /* bottom 그림자 효과 */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
.header{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 1200px;
    height: 38px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.login-area{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 30px;
    color: #19A7CE;
}
.login-area a{
    text-decoration: none;
    color: #19A7CE;
}
.logo{
    width: 250px;
    display: flex;
}
.logo div{
    color: #19A7CE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.logo div:hover{
    cursor: pointer;
}
.logo img{
    width: 80px;
    height: 80px;
    padding: 5px;
}
.logo div{
    font-size: 40px;
    padding: 5px;
}


/* 드롭다운 */
.dropdown{
    position : relative;
    display : inline-block;
}
.dropdown-content{
    display : none;
    position : absolute;
    z-index : -99; /*다른 요소들보다 앞에 배치*/
    background-color : white;
    width : 100px;
    border-radius : 8px;
    box-shadow : 0 0 10px rgba(0,0,0,0.2);
    opacity: 0;
    transition: 0.3s;
}
.dropdown-content a{
    display : block;
    text-decoration : none;
    color : black;
    padding: 10px;
    transition: 0.3s;
}
.dropdown-content a:hover{
    background-color : #19A7CE;
    color : white;
    border-radius: 8px;
}
.dropdown:hover .dropdown-content{
    display : block;
    z-index: 1;
    opacity: 1;
}
.dropdown>span{
    display: block;
    margin: 10px;
    cursor: pointer;
    color: #19A7CE;
}
.dropdown>span>a{
    text-decoration: none;
    color: #19A7CE;
}
.dropdown-content a{
    color : #19A7CE;
}

.search>form {
    position: relative;
    width: 200px;
}
.search>form>input {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
.search>form>i {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 30px;
    margin: 0;
}

/* 모든페이지 */
/* 공통영역스타일 */
#container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 190px;
}
