<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.earthball.member.member.model.mapper.MemberMapper">
  						
  						
  						<select id="loginMember"  parameterType="com.earthball.member.member.model.vo.Member">
  														SELECT *
  														   FROM MEMBER
  														 WHERE MEMBER_ID = #{memberId}
  														       AND STATUS = 'Y'
  						</select>
  						
  						<insert id="insertMember" parameterType="com.earthball.member.member.model.vo.Member">
									INSERT INTO MEMBER(MEMBER_ID
																	  , MEMBER_PWD
																	  , MEMBER_NAME
																	  , BIRTH_DATE
																	  , GENDER
																	  , EMAIL
																	  , PHONE)
												     VALUES(#{memberId}
															 	   , #{memberPwd}
															 	   , #{memberName}
															 	   , #{birthDate}
															 	   , #{gender}
															 	   , #{email}
															 	   , #{phone})
  						</insert>
  						
  						<update id="updateMember" parameterType="com.earthball.member.member.model.vo.Member">
  								UPDATE MEMBER
  								        SET MEMBER_NAME = #{memberName} 
  								        	  , MEMBER_PWD = #{memberPwd}
  								              , BIRTH_DATE = #{birthDate}
  								              , GENDER = #{gender}
  								              , EMAIL = #{email}
  								              , PHONE = #{phone}
  								              , CREATED_DATE = SYSDATE
  								 WHERE MEMBER_ID = #{memberId}
  						</update>
  		
  </mapper>