@charset "UTF-8";
#container{
    width: 1200px;
    height: 3000px;
    margin: 0 auto;
    padding-top: 170px;
    /* background-color: aliceblue; */
}

#title {
    width : 100%;
    height : 150px;
    padding-top : 20px;
    /* border : 1px solid red; */
}

#title_1 {
    width : 250px;
    height : 70px;
    margin : 30px 0px 0px 15px;
    box-sizing : border-box;
    /* border : 1px solid red; */
    align-items : center;
    display : flex;
}

#title_text {
    width : 200px;
    height : 50px;
    font-size : 40px;
    font-weight : bold;
    padding : 0px 0px 7px 10px;
    /* border : 1px solid red; */
}

#content {
    display : flex;
    width : 100%;
    height : 80%;

    box-sizing: border-box;
}

/* input type="number" 우측 버튼 삭제 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none; margin: 0;}

#content1 {
    width : 45%;
    height : 80%;
    margin : 0px 5px 0px 50px;
    /* border : 1px solid red; */
    flex-direction: column;
    box-sizing : border-box;
}

#content1 div, #content2 div { box-sizing : border-box; }

#content1_1 {
    overflow : auto;
    /* border : 1px solid red; */
    flex-direction: column;
    box-sizing : border-box;
}

#content1_2 {
    width : 100%;
    height : 10%;
    margin-top : 20px;
    /* border : 1px solid red; */
}

#content1_3 {
    width : 100%;
    height : 25%;
    margin-top : 15px;
    /* border : 1px solid red; */
}

#content1_4 {
    width : 100%;
    height : 20%;
    /* margin-top : 20px; */
    /* border : 1px solid red; */
}

#content1_1_1, #content1_3_1, #content1_4_1 {
    width : 100%;
    height : 10%;
    /* border : 1px solid red; */
}

#content1_1_2 {
    width : 100%;
    height : 30%;
    margin-top : 10px;
    /* border : 1px solid red; */
    display : flex;
}

#content1_1::-webkit-scrollbar {
    display: none;
}

#content1_2_1 {
    width : 100%;
    height : 20%;
    /* border : 1px solid red; */
}

#content1_2_2 {
    width : 100%;
    height : 100%;
    /* border : 1px solid red; */
}

#content1_2_2>table {
    width : 90%;
    height : 60%;
    margin : 20px 0px 0px 20px;
    font-size : 16px;
}

#content1_2_2 th {
    text-align : left;
    color : gray;
}

#content1_2_2 td {
    font-weight : 600;
}

#content1_3_2>table {
    width : 95%;
    /* border : 1px solid red; */
    margin : 20px 0px 20px 15px;
}

#content1_4_2 {
    width : 100%;
    height : 70%;
    margin-top : 40px;
    /* border : 1px solid red; */
}

#content1_4_2>table {
    width : 100%;
    margin : 0px 0px 0px 20px;
}

#content1_4_2 span {
    font-size : 14px;
    font-weight : 600;
}

#content2 {
    width : 45%;
    height : 40%;
    margin : 0px 0px 0px 5px;
    /* border : 1px solid red; */
    flex-direction: column;
    position : sticky;
    top : 200px;
}

#content2_1 {
    width : 100%;
    height : 25%;
    background-color : #f1fcff;
    /* border : 1px solid red; */
}

#content2_1_1,#content2_2_1 {
    width : 100%;
    height : 10%;
    /* border : 1px solid red; */
}

#content2_1_2 {
    width : 100%;
    height : 50%;
    /* border : 1px solid red; */
}

#content2_1_2>table {
    width : 100%;
    margin-top : 30px;
    /* border : 1px solid red; */
}

#content2_1_3 {
    width : 100%;
    height : 20%;
    margin-top : 30px;
    background-color : rgb(235, 235, 235);
    /* border : 1px solid red; */
}

#content2_1_3>div {
    margin : 0px 0px 0px 20px;
    /* border : 1px solid red; */
}

#content2_1_3 span {
    font-size : 16px;
    font-weight : 600;
    line-height : 45px;
}

#content2_2 {
    width : 100%;
    height : 25%;
    background-color : #f1fcff;
    margin-top : 30px;
    /* border : 1px solid red; */
}

#content2_2_2 {
    width : 100%;
    height : 50%;
    /* border : 1px solid red; */
}

#content2_2_2>div {
    width : 100%;
    height : 25%;
    margin : 20px 0px;
    /* border : 1px solid red; */
}

#content2_2_2 input {
    width : 16px;
    height : 16px;
    margin : 15px 0px 0px 20px;
}

#content2_2_2 label {
    font-size : 18px;
    font-weight : 550;
    margin-left : 10px;
}

#content2_2_3 {
    width : 100%;
    height : 20%;
    /* border : 1px solid red; */
}

#content2_2 input:hover {
    cursor : pointer;
    background-color : #146C94;
}

#bar_1 {
    width : 12px;
    height : 70px;
    background-color : #146C94;
}

#bar_2 {
    width : 130px;
    height : 6px;
    background-color : #146C94;
    margin : 0px 0px 0px 20px;
}

#img-area {
    width : 30%;
    height : 100%;
    /* border : 1px solid red; */
}

#product_img {
    width : 60%;
    height : 60%;
    margin : auto;
    /* margin-top : 25px; */
    /* border : 1px solid red; */
}

#product_content {
    width : 70%;
    /* height : 100%; */
    flex-direction: column;
    /* border : 1px solid red; */
    box-sizing : border-box;
}

#product_name, #product_count, #product_price {
    width : 100%;
    height : 20%;
    align-items : center;
    line-height : 20%;
    /* border : 1px solid red; */
    margin-top: 10px;
}

#product_name {
    font-size : 16px;
    font-weight : bold;
    height : 35%;
}

.product_name {
	height : 100%;
	white-space: normal;
}

#product_amount {
    font-size : 14px;
    font-weight : 550;
    color : gray;
}

#product_price {
    font-size : 16px;
    font-weight : 700;
    color : #19A7CE;
}

#receiveName, #receivePhone {
    width : 210px;
    height : 26px;
    font-size : 16px;
    border : 1px solid #19A7CE;
    border-radius : 7px;
    margin : 10px 0px;
}

#postCode {
    width : 120px;
    height : 26px;
    font-size : 16px;
    border : 1px solid #19A7CE;
    border-radius : 7px;
    margin : 10px 0px;
}

#selectAddress {
    width : 80px;
    height : 30px;
    font-size : 16px;
    color : white;
    border : 1px solid #19A7CE;
    background-color : #19A7CE;
    border-radius : 7px;
    margin : 10px 0px 0px 5px;
    padding : 0px;
}

#selectAddress:hover, #selectCoupon:hover, #pointAll:hover {
    border : 1px solid #146C94;
    background-color : #146C94;
    cursor : pointer;
}

#address1, #address2 {
    width : 455px;
    height : 26px;
    font-size : 16px;
    border : 1px solid #19A7CE;
    border-radius : 7px;
    margin : 10px 0px;
}

#deliveryMemo {
    width : 100%;
    height : 50px;
    /* border : 1px solid red; */
}

#deliveryMemo select:hover { cursor : pointer; }

#deliveryMemo>select {
    width : 455px;
    height : 30px;
    font-size : 16px;
    color : gray;
    border : 1px solid #19A7CE;
    border-radius : 7px;
    margin : 10px 0px 10px 15px;
}

#coupon, #point {
    width : 200px;
    height : 26px;
    font-size : 16px;
    color : gray;
    border : 1px solid #19A7CE;
    border-radius : 7px;
    margin : 10px 0px;
}

#selectCoupon, #pointAll, #pointCancel {
    width : 80px;
    height : 30px;
    font-size : 16px;
    color : white;
    border : 1px solid #19A7CE;
    background-color : #19A7CE;
    border-radius : 7px;
    margin : 10px 0px 0px 5px;
    padding : 0px;
}

#pointCancel {
	border : 1px solid red;
    background-color : red;
}

.orderSummaryName {
    width : 50%;
    height : 30px;
    font-size : 18px;
    font-weight : 600;
    padding-left : 15px;
    color : gray;
}

.orderSummaryContent, .totalPrice {
    width : 50%;
    font-size : 18px;
    font-weight : bold;
    text-align: right;
    padding-right : 20px;
    align-items : center;
}

#totalProductPrice, #usePoint { margin-bottom : 0px; }

.totalPrice {
	margin : 0px;
	padding : 0px;
	width : 100%;
}

#orderSummaryTotal-area {
    height : 50px;
    vertical-align : bottom;
}

.orderSummaryTotal {
    font-size : 18px;
    font-weight : bold;
    padding-left : 15px;
}

#payComplete {
    width : 100%;
    height : 100%;
    background-color : #19A7CE;
    font-size : 30px;
    margin-top : 35px;
    color : white;
    border : 0px;
}