<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.earthball.fo.product.mapper.ProductMapper">

	<select id="selectTopList" resultType="com.kh.earthball.fo.product.vo.Product">
		SELECT *
		FROM (SELECT PRODUCT_NO, PRODUCT_NAME, CATEGORY, PRICE, DISCOUNT, STOCK, CREATE_DATE, STATUS, CHANGER_NAME
		        FROM PRODUCT
		        JOIN PRODUCT_ATTA USING (PRODUCT_NO)
		        WHERE STATUS = 'Y'
		        AND FILE_LEVEL = 0
		        ORDER BY CREATE_DATE DESC)
		WHERE ROWNUM &lt;= 6
	</select>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y'
	</select>

	<select id="selectAllProduct" resultType="com.kh.earthball.fo.product.vo.Product">
		SELECT PRODUCT_NO, PRODUCT_NAME, CATEGORY, PRICE, DISCOUNT, STOCK, CREATE_DATE, STATUS, CHANGER_NAME
		FROM PRODUCT
		JOIN PRODUCT_ATTA USING (PRODUCT_NO)
		WHERE STATUS = 'Y'
		AND FILE_LEVEL = 0
		ORDER BY CREATE_DATE DESC
	</select>

	<select id="selectCategoryListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE CATEGORY = #{category}
		AND STATUS = 'Y'
	</select>

	<select id="selectCategoryProduct" resultType="com.kh.earthball.fo.product.vo.Product">
		SELECT PRODUCT_NO, PRODUCT_NAME, CATEGORY, PRICE, DISCOUNT, STOCK, CREATE_DATE, STATUS, CHANGER_NAME
		FROM PRODUCT
		JOIN PRODUCT_ATTA USING(PRODUCT_NO)
		WHERE STATUS = 'Y'
		AND FILE_LEVEL = 0
		AND CATEGORY = #{category}
		ORDER BY CREATE_DATE DESC
	</select>

	<select id="selectProduct" parameterType="int" resultType="com.kh.earthball.fo.product.vo.Product">
		SELECT PRODUCT_NO, PRODUCT_NAME,PRODUCT_INFO, CATEGORY, PRICE, DISCOUNT
		FROM PRODUCT
		WHERE PRODUCT_NO = #{productNo}
	</select>

	<select id="selectAtta" parameterType="int" resultType="com.kh.earthball.fo.product.vo.Atta">
		SELECT CHANGER_NAME, FILE_LEVEL
		FROM PRODUCT_ATTA
		WHERE PRODUCT_NO = #{productNo}
	</select>

	<select id="lowPriceList" resultType="com.kh.earthball.fo.product.vo.Product">
		SELECT PRODUCT_NO, PRODUCT_NAME, CATEGORY, PRICE, DISCOUNT, STOCK, CREATE_DATE, STATUS, CHANGER_NAME
		FROM PRODUCT
		JOIN PRODUCT_ATTA USING (PRODUCT_NO)
		WHERE STATUS = 'Y'
		AND FILE_LEVEL = 0
		ORDER BY PRICE
	</select>

	<select id="highPriceList" resultType="com.kh.earthball.fo.product.vo.Product">
		SELECT PRODUCT_NO, PRODUCT_NAME, CATEGORY, PRICE, DISCOUNT, STOCK, CREATE_DATE, STATUS, CHANGER_NAME
		FROM PRODUCT
		JOIN PRODUCT_ATTA USING (PRODUCT_NO)
		WHERE STATUS = 'Y'
		AND FILE_LEVEL = 0
		ORDER BY PRICE DESC
	</select>

</mapper>