#container{
    display: flex;
    padding-top: 10px;
}
.divider{
    width: 100px;
    height: 10px;
    background: #146C94;
    margin: 0 auto;
}
.sidebar{
    height: 700px;
}
.menu1{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu1 a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
}
.main-content{
    width: 100%;
    margin-left: 100px;
}
.profile{
    width: 900px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-around;
    background-color: #66a4b5;
    margin: auto;
}
.profile-1{
    display: flex;
}
.profile-1>div{
    text-align: left;
}
.profile-2{
    font-size: 25px;
}
.profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.text-content{
    text-align: left;
    margin-left: 20px;
}
.memberName{
    font-size: 30px;
    font-weight: lighter;
}
.main-content2{
    width: 100%;
    margin-top: 50px;
}
