<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.earthball.fo.challenge.mapper.ChallengeMapper">

  <insert id="requestChallenge"  parameterType="com.kh.earthball.fo.challenge.vo.Challenge">
    INSERT INTO TB_CHALLENGE (CH_NO
                            , CH_TITLE
                            , CH_START_DAY
                            , CH_END_DAY
                            , MEMBER_ID
                            , CATEGORY_NO
                            , FILE_NO)
                    VALUES (SEQ_TB_CHALLENGE.NEXTVAL
                          , #{chTitle}
                          , #{chStartDay}
                          , #{chEndDay}
                          , #{memberId}
                          , #{categoryNo}
                          , #{fileNo})
  </insert>


</mapper>