<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.earthball.fo.challenge.mapper.ConfirmMapper">

  <insert id="insertConfirm" parameterType="com.kh.earthball.fo.challenge.vo.ChConfirm">
    <selectKey keyProperty="chConNo" resultType="java.lang.Integer" order="BEFORE">
        SELECT SEQ_TB_CH_CONFIRM.NEXTVAL
          FROM DUAL
    </selectKey>
    INSERT INTO TB_CH_CONFIRM(CH_CON_NO
                            , CH_NO
                            , CH_CON_TITLE
                            , MEMBER_ID
                            , STATUS
                            , CH_CON_CREATE_DATE)
         VALUES (#{chConNo}
               , #{chNo}
               , #{chConTitle}
               , #{memberId}
               , 'Y'
               , SYSDATE)
  </insert>

  <insert id="insertDetailInfo" parameterType="com.kh.earthball.fo.challenge.vo.ChDetailInfo" >
    INSERT INTO TB_CH_DETAIL_INFO (CH_DETAIL_INFO_NO
                                 , CH_NO
                                 , CH_CON_NO
                                 , CATEGORY_TEMPLATE_NO
                                 , CH_DETAIL_INFO_DATA
                                 , STATUS
                                 , CODE
                                 , FILE_NO)
                           VALUES (SEQ_TB_CH_DETAIL_INFO.NEXTVAL
                                 , #{chNo}
                                 , #{chConNo}
                                 , #{categoryTemplateNo}
                                 , #{chDetailInfoData}
                                 , 'Y'
                                 , #{code}
                                 , #{fileNo})
  </insert>

</mapper>