<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.earthball.fo.challenge.mapper.ConfirmMapper">

  <insert id="insertConfirm" parameterType="com.kh.earthball.fo.challenge.vo.ChConfirm">
    <selectKey keyProperty="chConNo" resultType="java.lang.Integer" order="BEFORE">
        SELECT SEQ_TB_CH_CONFIRM.NEXTVAL
          FROM DUAL
    </selectKey>
    INSERT INTO TB_CH_CONFIRM(CH_CON_NO
                            , CH_NO
                            , CH_CON_TITLE
                            , MEMBER_ID
                            , STATUS
                            , CH_CON_CREATE_DATE)
         VALUES (#{chConNo}
               , #{chNo}
               , #{chConTitle}
               , #{memberId}
               , 'Y'
               , SYSDATE)
  </insert>

  <insert id="insertDetailInfo" parameterType="com.kh.earthball.fo.challenge.vo.ChDetailInfo" >
    INSERT INTO TB_CH_DETAIL_INFO (CH_DETAIL_INFO_NO
                                 , CH_NO
                                 , CH_CON_NO
                                 , CATEGORY_TEMPLATE_NO
                                 , CH_DETAIL_INFO_DATA
                                 , STATUS
                                 , CODE
                                 , FILE_NO)
                           VALUES (SEQ_TB_CH_DETAIL_INFO.NEXTVAL
                                 , #{chNo}
                                 , #{chConNo}
                                 , #{categoryTemplateNo}
                                 , #{chDetailInfoData}
                                 , 'Y'
                                 , #{code}
                                 , #{fileNo})
  </insert>

  <select id="selectListCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM TB_CH_CONFIRM
    WHERE CH_NO = #{chNo}
  </select>


  <select id="selectConfirmList" parameterType="java.lang.Integer" resultType="com.kh.earthball.fo.challenge.vo.ChConfirm">
    SELECT *
    FROM (
           SELECT CH_CON_NO
                , CH_NO
                , CH_CON_TITLE
                , MEMBER_ID
                , TO_CHAR(CH_CON_CREATE_DATE, 'YYYY-MM-DD') AS CH_CON_CREATE_DATE
                , ROW_NUMBER() OVER (ORDER BY CH_NO) AS ROW_NUM
           FROM TB_CH_CONFIRM
           WHERE STATUS = 'Y'
             AND CH_NO = #{chNo}
         )
    WHERE ROW_NUM BETWEEN #{offset} AND #{limit}
  </select>

</mapper>