
.wrap div {
  /*border: 1px solid red;*/
  /* 지금부터 지정하는 가로세로길이는 테두리까지 포함한 사이즈임 */
  box-sizing: border-box;
}

/* 전체를 감싸는 wrap*/
.wrap {
  width: 1200px;
  height: auto;
  min-height: 100px;
  overflow: hidden;
  margin: auto; /* 좌우로 항상 정정가운데에 위치시켜주는 속성 */
  padding-top: 230px;
  /* position : relative; */
}

/* 크게 세가지 영역 */
/* header, content, footer */
/* #header, #content, #footer {
    width: 100%;
} */

.wrap > div {
  width: 100%;
}


/* 영역별 높이 */
#title {
  height: 5%;
}

.basic_info {
  height: 20%;
}

.template {
  height: 68%;
}

.btn_div {
  height: 8%;
}


/* 영역별 너비 */
#title > div {
  float: left;
}


/* 타이틀 */
#title {
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

#title_text {
  width: 1000px;
  height: 50px;
  font-size: 40px;
  font-weight: 600;
  padding: 0px 0px 7px 10px;
  /* border : 1px solid red; */
}

#bar_1 {
  width: 12px;
  height: 70px;
  background-color: #146C94;
}

.btn_div {
  display: flex;
  justify-content: center
}

.btn_1 {
  background-color: #69abce;
  border: solid 1px #69abce;
  border-radius: 7px;
  width: 400px;
  height: 60px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin: 20px;
}


.bar_2 {
  width: 170px;
  height: 6px;
  background-color: #146C94;
  margin: 0px 0px 0px 20px;
}


.info_title h3 {
  margin-left: 30px;
}

.info_title span {
  color: rgb(229, 84, 84);
  font-size: 18px;
  margin-left: 30px;
}

.star {
  color: rgb(229, 84, 84);
  font-size: 20px;
  font-weight: 800;
}


.form_title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  margin-top: 40px;

}


.form_content {
  font-size: 18px;
  margin-left: 30px;
  font-weight: 200;
}

.form_text {
  width: 600px;
  height: 35px;
  font-size: 17px;
  font-weight: 100;
}

.form_date {
  width: 200px;
  height: 35px;
  font-size: 17px;
  font-weight: 100;
}



.basic_form_1 {
  width: 65%;
  display: inline-block;
}

.basic_form_2 {
  width: 30%;
  display: inline-block;
}


.sub_title {
  padding: 7px;
  display: inline-block;
  font-size: 20px;
  margin-left: 45px;
  border-radius: 5px;
  color: #146C94;
  font-weight: 500;
  /*border: #146C94 1px dashed;*/
  display: inline-block;
}


/* 화면에 선택적으로 뿌려지는 템플릿 폼들*/

.sub_title {
  display: flex;
  width: 20%;
}

.values {
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.valuesTextarea {
  margin-left: 60px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* select 문 */
.select {
  display: flex;
}

.select_class {
  font-size: 20px;
  left: 400px;
  justify-content: center;
  margin-left: 40px;
  width: 700px;
  text-align: center;
}


/* checkbox 문 */
.checkbox {
  display: flex;
}

.checkbox_class {
  left: 400px;
  justify-content: center;
  margin-left: 35px;
}

.check_font span {
  font-size: 20px;
}


/* radio 문 */
.radio {
  display: flex;

}

.radio_class {
  left: 400px;
  justify-content: center;
  margin-left: 35px;
}

.radio_font {
  font-size: 20px;
}


/* text 문 */
.text {
  display: flex;
}

.text_class {
  margin-left: 40px;
  font-size: 20px;
}

.text_size {
  width: 500px;
  height: 34px;
}


/* textarea 문 */

.textarea_class {
  margin-left: 46px;
}

.textarea_font {
  font-size: 20px;
}


/* 파일 */
.file {
  display: flex;
}

.file_class {
  margin-left: 40px;
  font-size: 20px;

}


/* number 문 */
.number {
  display: flex;
}

.number_class {
  margin-left: 40px;
}

.number_size {
  font-size: 20px;
  font-weight: normal;
  border: solid 1px rgb(173, 172, 172);
  height: 35px;
  text-align: center;
}


/* range 문 */
.range {
  display: flex;
}

.range_size {
  height: 35px;
  margin-left: 40px;
  width: 750px;
}




/* datetime 문 */
.datetime {
  display: flex;
}

.datetime_class {
  margin-left: 40px;
}

.datetime_size {
  font-size: 20px;
  font-weight: normal;
  border: solid 1px rgb(173, 172, 172);
  height: 35px;
  text-align: center;
}

/* 화면에 선택적으로 뿌려지는 템플릿 폼들*/

/*--------------이미지 미리보기----------------*/
HTML SCSS BabelResult Skip Results Iframe
EDIT ON
.flex-container {
  display: flex;
}

.wrapper {
  text-align: center;
  flex-grow: 1;
}


.image-box {
  width: 700px;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 10px 80px;
}

.upload-btn {
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  margin-left: 80px;
}

.fileUpload {
  margin-left: 50px;
}

/*--------------이미지 미리보기----------------*/
