<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

  <!-- 게시글 총 갯수 구하는 쿼리문 -->
  <select id="selectListCount" resultType="_int">
    SELECT COUNT(*)
    FROM BOARD
    WHERE STATUS = 'Y'
  </select>

  <!-- 게시글 리스트를 구해주는 쿼리문 -->
  <select id="selectList" resultType="com.kh.earthball.fo.board.vo.Board">
    SELECT BOARD_NO
         , BOARD_TITLE
         , BOARD_WRITER
         , COUNT
         , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
         , ORIGIN_NAME
    FROM BOARD
    WHERE STATUS = 'Y'
    ORDER BY BOARD_NO DESC
  </select>


</mapper>

